<mat-sidenav-container class="app-container">
  <mat-sidenav #appmenu>
    <mat-toolbar>
      <h2> Angular Todo App Menu </h2>
    </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="app-bar" color="primary">
      <button class="menu-button" mat-icon-button (click)="appmenu.toggle()">
        <mat-icon svgIcon="i-menu-hamburger"></mat-icon>
      </button>
      <a class="app-home-link" [routerLink]="['']"> {{title}}</a>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

