.app-logo
  display: flex
  align-items: center
  justify-content: center
  font-size: 64px
  padding-top: 128px

  &-icon
    width: 62.5%
    height: 172px
    margin-right: 32px

.app-slogan
  font-size: 32px
  text-align: center

.landing-actions
  margin-top: 64px
  text-align: center
