<form [formGroup]="todoForm" class="todo-form" (submit)="addTodo($event)">

  <h2>Hi {{user}}</h2>

  <div class="form-group">
    <input placeholder="What needs to be done" aria-label="What needs to be done" class="form-control" type="text"
           formControlName="action">
  </div>


</form>


<form [formGroup]="todoListForm">

<ol class="todo-list" formArrayName="todos">
  <li *ngFor="let todo of (todos$ | async); let i = index" class="todo-item" [formGroupName]="i.toString()">

      <input class="action form-control" [value]="todo.action" (keydown)="save()" formControlName="action">
      <input class="done" type="checkbox" value="true" [checked]="todo.progress > 0" (change)="save()" formControlName="isDone">

  </li>
</ol>
</form>
