.todo-form
  width: 500px
  margin: 40px auto

  .form-group
    margin-top: 24px

.todo-list
  width: 360px
  margin: 0 auto

  .todo-item
    display: flex
    min-height: 72px
    align-items: center
  .done
    margin-left: 4px
    width: 24px
    height: 24px
